@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 90px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 450px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 30px 12px;
  padding: 30px 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  text-align: center;
  margin-bottom: 12px;
  color: #323246;
}

.error-message,
.success-message {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.error-message {
  color: #cd0909;
}

.success-message {
  color: #b364c5;
}

.hide {
  display: none;
}

.input-container {
  position: relative;
  height: 55px;
  width: 100%;
  margin-top: 17px;
}

.input-container:first-child {
  margin-top: 0;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: #fff;
  color: rgb(50, 50, 70, 0.3);
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.input-message {
  text-align: left;
  font-size: 10px;
  color: #cd0909;
  padding-left: 10px;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  color: #b364c5;
  font-weight: 600;
}

.input:focus {
  border: 2px solid #b364c5;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.login-actions {
  display: flex;
  color: #b364c5;
  font-size: 12px;
  align-items: center;
}

.account-handle {
  display: flex;
  flex-direction: column;
}

.account-handle > a {
  cursor: pointer;
  margin-top: 10px;
}

.btn {
  border: none;
  outline: 0;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
  background-color: transparent;
}

.btn-submit {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  background-color: #b364c5;
  color: #fff;
  border-radius: 6px;
  margin-top: 30px;
  font-size: 16px;
}

.btn-submit:hover {
  background-color: rgb(179, 100, 197, 0.8);
  transform: scale(0.9);
  transition: transform 0.2s;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.inner-wrapper {
  width: 50%;
}

.inner-wrapper:first-child {
  margin-right: 5px;
}

.inner-wrapper:last-child {
  margin-left: 5px;
}

.dropdown {
  width: 100%;
  height: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  background: none;
}

.red-border {
  border: 1px solid red;
}

/*Home page*/
.navbar {
  position: fixed;
  width: 100%;
  background-color: #b364c5;
  height: 80px;
  z-index: 100;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

ul > li {
  color: #fff;
}

li > a {
  font-weight: bold;
  font-size: 18px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  padding: 100px 50px 10px 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
}

.card > h3,
.user > h3 {
  font-size: 25px;
  cursor: pointer;
}

.card > img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.bio {
  color: grey;
  font-size: 18px;
}

.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.btn-fav,
.btn-block {
  background-color: transparent;
}

.btn > img {
  width: 24px;
  height: 24px;
}

.btn-fav > img {
  filter: invert(80%) sepia(48%) saturate(7150%) hue-rotate(238deg)
    brightness(83%) contrast(82%);
}

.btn-block > img {
  filter: invert(11%) sepia(92%) saturate(7051%) hue-rotate(2deg)
    brightness(88%) contrast(88%);
}

/*Messages*/
.messages-container {
  padding: 100px 50px;
}

.messages {
  display: flex;
  justify-content: space-between;
}

.users {
  width: 30%;
}

.user {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #d5b2da;
}

/*margin right*/
.mr {
  margin-right: 10px;
}

/*margin left*/
.ml {
  margin-left: 10px;
}

.username {
  font-size: 25px;
}

.flex {
  display: flex;
  align-items: center;
}

.chat {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 65%;
  max-height: 600px;
  border-radius: 10px;
  position: relative;
}

.header {
  background-color: #b364c5;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}

.header > h3 {
  color: #fff;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  max-height: 450px;
  height: 450px;
  margin-bottom: 50px;
  overflow-y: scroll;
}

.chat-container > div {
  padding: 8px 10px;
  border-radius: 8px;
}

.chat-container > div > p {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  /* max-width: 70%; */
}

.round-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.receiver {
  align-self: flex-start;
}

.sender {
  align-self: flex-end;
}

.send-message {
  background-color: #b364c5;
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
}

.send-message > input {
  flex-grow: 1;
  height: 100%;
  border-radius: 9999px;
  border: 1px solid #e5e5e5;
  outline: none;
  margin-right: 10px;
  background-color: #d5b2da;
  padding: 0 20px;
  color: #fff;
}

.send-message > h3 {
  color: #fff;
}

.btn-send > img {
  filter: invert(83%) sepia(15%) saturate(575%) hue-rotate(238deg)
    brightness(89%) contrast(91%);
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b364c5;
}

.no-data {
  margin: 10px auto;
  color: #b364c5;
}
